left*
right*
!artifacts/
!artifacts/left_gate/
!artifacts/left_gate/left_*.npy
!artifacts/right_gate/
!artifacts/right_gate/right_*.npy
artifacts/*/perturbation_samples/
.vscode/
temp/

**/*.egg-info/
**/__pycache__/
**/c_generated_code/
**/acados_ocp_quadcopter_ode.json
**/acados_sim.json
**/rollout_data/
**/test_data/
**/pretrained_models/
